*.qmlproject.*
*.qmlproject
*.db*
*.db
__pycache__/
.idea/
_audio/
FACE/temp_img/
docs/_build/
FACE/facepointmemo/

FACE/emomemo/

MakeGraph/graphs/

SENTENCE/split_temp/

SENTENCE/emomemo/

SENTENCE/texts/

SENTENCE/times/
